body {
  background: #D2B954;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background: #376DA0
}

ul {
  list-style-type: none;
}

li {
  margin: 0px;
  padding: 5px;  
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: italic;
}

a:hover {
  color: #104781;
}

img {
  border: 0;
  outline: 0;
}

h1 {
  font-family: 'Domine', serif;
  font-weight: 500;
  }

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Domine', serif;
  font-weight: 500;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
