body {
  background: #D2B954;
  text-align: center;
}

nav {
  background: #376DA0
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #119286;
  font-style: italic;
}

a:hover {
  color: #104781;
}

img {
  border: 0;
  outline: 0;
}
